@page "/Inquilinos"

@using DepartAdmin.DAL.Entities;
@using CurrieTechnologies.Razor.SweetAlert2;
@using DepartAdmin.Client.Services;

@inject SweetAlertService Swal;
@inject IInquilinoService inquilinoService;

<h3>Inquilino</h3>

@code {
    List<Inquilino>? listInquilino = null;

    protected override async Task OnInitializedAsync()
    {
        listInquilino = await inquilinoService.InquilinoList();
    }

    private async Task Delete(int id)
    {
        var result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Eleminar Inquilino",
                Text = "Deseas elimiar el inquilino?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
    });

        if (result.IsConfirmed)
        {
            var delete = await inquilinoService.Delete(id);

            if (delete)
                listInquilino = listInquilino!.FindAll(e => e.UserId != id);


        }
    }

    
}
