@page "/Inquilinos"

@using DepartAdmin.DAL.Entities;
@using CurrieTechnologies.Razor.SweetAlert2;
@using DepartAdmin.Client.Services;

@inject SweetAlertService Swal;
@inject IInquilinoService inquilinoService;

<h3>Inquilino</h3>

@code {
    List<Inquilino>? listInquilino = null;

    protected override async Task OnInitializedAsync()
    {
        listInquilino = await inquilinoService.List();
    }


}
